html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

body {
  color: var(--foreground);
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.active{
  color:#FF2E00;
}

/* Keen Slider lazy loading */
.lazy__slide {
  height: min-content;
  background:#FF2E00;
  /* background-color: linear-gradient(
    0deg,
    #FF2E00 0%,
    rgba(255, 154, 63, 1) 100%
  ); */
  background-image: url("/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  min-height: auto;
  width:100%;
}

.lazy__slide img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 11vw;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .arrow{
    top: 100px;
  }
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

 .MuiMenuItem-root.Mui-disabled{
  opacity: 1;
 }

